.card-container {
    background-color: white;
}
.card-active {
    background-color: #99ee92;
}


:host::ng-deep .add-to-cart-btn .p-button {
    background-color: var(--secondary-base-color);
    color: var(--primary-base-text-color);
    font-size: 11px;
    border-radius: 10px;
    border: transparent;
    width: 100%;
}

.disabled-product {
    background-color: #eceaea;
    color: rgb(174, 174, 174) !important;
}
.selected-product {
    background-color: #99ee92;
    font-weight: 400;
    color: black !important;
}

:host::ng-deep .add-to-cart-btn .p-button:active {
    background-color: var(--secondary-base-color-light);
}

:host::ng-deep .add-to-cart-btn {
    width: 100% !important;
}

:host::ng-deep .custom-input-number .p-inputtext {
    width: 100% !important;
}








// .image-wrapper {
//     width: 90px;
//     height: 90px;
// }

// .card-container {
//     background-color: white;
// }

// .product-image {
//     height: 90px;
//     width: 90px;
//     object-fit: contain;
// }
// :host::ng-deep .add-to-cart-btn .p-button {
//     background-color: var(--secondary-base-color);
//     color: var(--primary-base-text-color);
//     font-size: 11px;
//     border-radius: 10px;
//     border: transparent;
//     width: 120px;
// }

// :host::ng-deep .add-to-cart-btn .p-button:active {
//     background-color: var(--secondary-base-color-light);
// }

.text-end {
    text-align: end;
}

.clickable-item {
    transition: transform 0.1s ease, background-color 0.2s ease;
  }
  
  .clickable-item:active {
    transform: scale(0.97);
    background-color: rgba(21, 224, 6, 0.422); /* press effect */
  }

  .card-product{
    border: 1px solid rgb(233, 233, 233);
    padding: 7px 10px;
    border-radius: 10px;
    background-color: rgba(21, 224, 6, 0.422);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .divider {
    padding: 5px 10px;
    background-color: #99ee92;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
  }