.menu-button {
    background-color: white;
}
.tab-active {
    background-color: #1e8515;
    color: white;
}

.staff-active {
    color: black;
    background-color: #99ee92;
}

.min-sidenav-pad {
    padding-right: 5px;
    padding-left: 5px;
}